.button {
  &__home {
    position: absolute;
    top: 4vh;
    right: 30px;
    width: 40px;
    height: 40px;
    border: none;
    cursor: pointer;
    z-index: 3000;
    background-color: #051c26;
    color: #ffb275;
    filter: drop-shadow(2px 4px 6px black);
  }
  &__menu {
    position: fixed;
    right: 5vw;
    top: 7vh;
    color: rgb(239, 180, 98);
    background-color: transparent;
    border: 1px solid;
    cursor: pointer;
    z-index: 4000;
    transform: scale(1.3);
  }
  &-personal {
    position: absolute;
    top: 200px;
    background-color: #051c26;
    width: 36px;
    height: 36px;
    border-radius: 17px;
    color: #e3a06b;
    filter: drop-shadow(2px 4px 6px black);
    border: none;
    cursor: pointer;
    &-next {
      right: -40px;
    }
    &-prev {
      left: -40px;
    }
  }

  &__category {
    font-family: "Jura", sans-serif;
    z-index: 1000;
    font-size: 4rem;
    color: #ff9344;
    margin: 14px;
    cursor: pointer;
    background-color: #15151500;
    border: none;
    font-weight: bold;
    border-bottom: 1px solid;
    transition: 0.4s;
    padding: 0px 4px 0px 4px;
    &:hover {
      background-color: wheat;
      border-radius: 5px;
    }
  }
  &__certificate {
    background-color: #000000d1;
    border: none;
    width: 37px;
    height: 37px;
    border-radius: 8px;
    color: wheat;
    margin: 10px;
    filter: drop-shadow(0px 0px 8px black);
    &-prev {
      transform: rotateZ(180deg);
    }
  }

  &__about {
    top: 20px;
  }
  &__projects {
    top: 100px;
  }
  &__certificates {
    top: 190px;
  }
  &__resume {
    top: 277px;
  }
  &__contact {
    top: 367px;
  }
}
