.menu {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: -100vw;
  z-index: 2000;
  background: #00000085;
  backdrop-filter: blur(5px);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  &__button {
    font-family: "Jura", sans-serif;
    z-index: 1000;
    font-size: 4rem;
    color: #ff9344;
    margin: 14px;
    cursor: pointer;
    background-color: #15151500;
    border: none;
    font-weight: bold;
    border-bottom: 1px solid;
  }
}
