.home {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  font-family: "Rogan", Arial, Helvetica, sans-serif;
}

.page {
  position: fixed;
  left: 0;
  top: 100vh;
  width: 100vw;
  height: 100vh;
  z-index: 2000;
  &__home {
    top: 0;
    &--image {
      object-fit: cover;
      width: 100vw;
      height: 100vh;
      filter: saturate(1.3) contrast(1.3) brightness(0.5);
    }
  }
  &__about {
    grid-template-rows: 100vh;
    background-color: #002431c7;
    z-index: 5000;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    backdrop-filter: blur(4px);
    .personal {
      position: relative;
      margin: 10px;
      @include respond(phone) {
        transform: scale(0.8);
        height: 285px;
      }
      @include respond(small-phone) {
        transform: scale(0.6);
        height: 240px;
      }
      &__image {
        height: 330px;
        width: 330px;
        filter: drop-shadow(2px 4px 6px black) contrast(1.1);
        border-radius: 50%;
      }
      &__text {
        font-size: 3rem;
        font-weight: bold;
        color: wheat;
        filter: drop-shadow(2px 4px 3px black);
        text-align: center;
        @include respond(phone) {
          font-size: 2rem;
          margin: 10px;
        }
        @include respond(small-phone) {
          font-size: 1.7rem;
          margin: 10px;
        }
      }
    }
  }
  &__resume {
    background-color: white;
    z-index: 5000;
  }

  &__certificates {
    background-color: #4a1818;
    z-index: 5000;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .certificate__image {
      position: relative;
      width: 600px;
      filter: contrast(1.1) drop-shadow(13px 13px 10px black);
      @include respond(phone) {
        width: 448px;
      }
      @include respond(meduim-phone) {
        width: 345px;
      }
      @include respond(small-phone) {
        width: 240px;
      }
    }
  }
  &__contact {
    background-color: #ad820a;
    z-index: 5000;
    &-header {
      position: relative;
      top: 1vh;
      left: 3vh;
      filter: drop-shadow(2px 4px 6px black);
      width: 90vw;
      // margin-top: 47px;
      h1 {
        font-size: 10rem;
        @include respond(meduim-phone) {
          font-size: 7rem;
        }
        @include respond(small-phone) {
          font-size: 4rem;
        }
      }
      p {
        font-size: 2rem;
        text-align: justify;
      }
    }
    &-ul {
      font-size: 4rem;
      list-style: none;
      width: 100vw;
      height: 100vh;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      color: wheat;
      padding: 20px;
      @include respond(phone) {
        font-size: 3rem;
      }
      @include respond(meduim-phone) {
        font-size: 2.7rem;
      }
      @include respond(small-phone) {
        font-size: 2rem;
      }
      li {
        // border-bottom: 2px solid;
        a {
          filter: drop-shadow(2px 4px 6px black);
          padding: 10px;
          text-decoration: none;
          color: wheat;
          display: flex;
        }
      }
    }
  }
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(7, 10, 10, 0.445);
  z-index: 0;
}
